nav {
    background: setColor("lightGreyColor") !important;

  .active {
    color: setColor("pinkColor") !important;
  }
  .nav-link:hover {
    font-weight: bold;
    color: setColor("pinkColor") !important;
  }
}
